:root {

    // container

    --container-width: 1184px;
    --container-padding: 32px;

    // fonts

    --font-main: 'Inter', sans-serif;
    --font-accent: 'Poppins', sans-serif;
    --font-nav: 'Space Grotesk', sans-serif;

    // colors

    --yellow: #FFAB00;
    --tagline-link: #FFAB00;
}