:root {

    // container

    --container-width: 1184px;
    --container-padding: 32px;

    // fonts

    --font-main: 'Inter', sans-serif;
    --font-accent: 'Poppins', sans-serif;
    --font-nav: 'Space Grotesk', sans-serif;

    // colors

    --yellow: #FFAB00;
    --tagline-link: #FFAB00;

    // sizes

    --laptop-size: 1199px;
    --tablet-size: 959px;
    --mobile-size: 599px;
}

@mixin mediaBg() {

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        @content;
    }
}