.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &__dot {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid transparent;

        &::before {
            content: '';
            width: 8px;
            height: 8px;
            background: #6c7275;
            border-radius: 50%;
        }

        &--active {
            border-color: #141718;

            &::before {
                background: #141718;
            }
        }
    }
}