.footer {
    margin-top: auto;
    padding: 80px 0 32px;
    background: #141718;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    &__row--top {
        margin-bottom: 49px;
    }

    &__row--border {
        padding: 16px 0;
        border-top: 0.50px solid #6c7275;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__logo {
        font-family: var(--font-accent);
        font-weight: 500;
        font-size: 24px;
        line-height: 1;
        text-align: center;
        color: #fff;

        span {
            color: #6c7275;
        }
    }

    &__separator {
        width: 1px;
        height: 24px;
        background: #6c7275;
    }

    &__store {
        font-size: 14px;
        line-height: 1.57143;
        color: #e8ecef;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 40px;

        a {
            font-size: 14px;
            line-height: 1.57143;
            color: #fefefe;
        }
    }

    &__copyrights {
        display: flex;
        align-items: center;
        gap: 28px;

        p {
            font-family: var(--font-accent);
            font-size: 12px;
            line-height: 1.66667;
            color: #e8ecef;
        }

        a {
            font-family: var(--font-accent);
            font-weight: 600;
            font-size: 12px;
            line-height: 1.66667;
            color: #fefefe;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}