.footer {
    margin-top: auto;
    padding: 80px 0 32px;
    background: #141718;

    @include mobile {
        padding: 48px 0;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        @include mobile {
            flex-direction: column;
            gap: 40px;
        }

        &--top {
            margin-bottom: 50px;

            @include mobile {
                margin-bottom: 40px;
            }
        }

        &--border {
            padding: 16px 0;
            border-top: 0.50px solid #6c7275;

            @include mobile {
                padding: 24px 0;
                gap: 32px;
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 32px;

        @include mobile {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__logo {
        font-family: var(--font-accent);
        font-weight: 500;
        font-size: 24px;
        line-height: 1;
        text-align: center;
        color: #fff;

        span {
            color: #6c7275;
        }
    }

    &__separator {
        width: 1px;
        height: 24px;
        background: #6c7275;

        @include mobile {
            width: 24px;
            height: 1px;
        }
    }

    &__store {
        font-size: 14px;
        line-height: 1.57143;
        color: #e8ecef;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 40px;

        @include mobile {
            flex-direction: column;
            gap: 32px;
        }

        a {
            font-size: 14px;
            line-height: 1.57143;
            color: #fefefe;
        }
    }

    &__copyrights {
        display: flex;
        align-items: center;
        gap: 28px;

        @include mobile {
            flex-direction: column-reverse;
        }

        p {
            font-family: var(--font-accent);
            font-size: 12px;
            line-height: 1.66667;
            color: #e8ecef;
        }

        a {
            font-family: var(--font-accent);
            font-weight: 600;
            font-size: 12px;
            line-height: 1.66667;
            color: #fefefe;
        }
    }

    &__copyrights-links {
        display: flex;
        align-items: center;
        gap: 28px;
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 24px;

        @include mobile {
            order: -1;
        }
    }
}