.hero {
    height: 820px;
    background: #FFC95C url('../img/hero/bg.jpg') no-repeat center / cover;

    @include mediaBg() {
        background-image: url('../img/hero/bg@2x.jpg');
    }

    @include tablet {
        height: 500px;
    }

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: calc((100% - var(--container-width)) / 2 + (var(--container-width) / 2));
        padding-right: calc((100% - var(--container-width)) / 2);

        @include tablet {
            padding-right: var(--container-padding);
        }

        @include mobile {
            margin: 0 auto;
            padding: 40px var(--container-padding);
            max-width: 375px;
            height: auto;
            justify-content: center;
            text-align: center;
        }
    }

    &__content {}

    &__title {
        margin-bottom: 8px;
        font-family: var(--font-accent);
        font-weight: 500;
        font-size: 80px;
        line-height: 1.05;
        letter-spacing: -0.04em;
        color: #121212;

        @include tablet {
            font-size: 60px;
        }

        @include mobile {
            font-size: 40px;
        }

        span {
            color: #377dff;
        }
    }

    &__desc {
        margin-bottom: 28px;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.6;
        color: #121212;

        @include mobile {
            margin-bottom: 16px;
            font-size: 16px;
        }
    }

    &__link {}
}