.mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	transform: translateX(-120%);
	overflow-y: auto;
	padding: 24px;
	width: 343px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 32px;
	background: #fff;
	transition: transform .2s;

	&--open {
		transform: translateX(0);
	}

	&__top {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 32px;
	}

	&__search {}

	&__search-input {
		padding: 12px 16px 12px 48px;
		width: 100%;
		height: 46px;
		font-size: 14px;
		line-height: 1.57143;
		color: #000;
		background: url('../img/icons/search.svg') no-repeat left 16px center;
		border-radius: 6px;
		border: 1px solid #6c7275;

		&::placeholder {
			color: #6c7275;
		}
	}

	&__nav {}

	&__list {}

	&__item {}

	&__link {
		font-weight: 500;
		font-size: 14px;
		line-height: 1.71429;
		color: #141718;
	}

	&__links {}

	&__sign-in {}

	&__socials {}
}