.mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	transform: translateX(-120%);
	padding: 24px;
	width: 343px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 32px;
	background: #fff;
	transition: transform .2s;

	&--open {
		transform: translateX(0);
	}

	&__top {}

	&__bottom {}
}