.nav {
    padding: 16px 0;
    background: #FFC95C;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__btn-mobile-nav {
        display: none;

        @include mobile {
            display: block;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;

        @include mobile {
            display: none;
        }
    }

    &__item {}

    &__link {
        display: flex;
        align-items: center;
        gap: 2px;
        font-family: var(--font-nav);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71429;
        color: #141718;
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 5px;

        &--search,
        &--user {

            @include mobile {
                display: none;
            }
        }
    }

    &__btn-count {
        min-width: 20px;
        height: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 12px;
        line-height: 0.83333;
        color: var(--yellow);
        background: #141718;
        border-radius: 100%;
    }
}