.nav {
    padding: 16px 0;
    background: #FFC95C;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {}

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__item {}

    &__link {
        display: flex;
        align-items: center;
        gap: 2px;
        font-family: var(--font-nav);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71429;
        color: #141718;
    }

    &__btns {}
}