.nav {
    padding: 16px 0;
    background: #FFC95C;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 1;
        text-align: center;
        color: #000;
    }

    &__list {}

    &__btns {}
}