.newsletter {
    padding-top: 100px;
    height: 360px;
    display: flex;
    justify-content: center;
    background: #e2e4e3 url("../img/newsletter/bg.jpg") no-repeat center bottom;

    @include mediaBg() {
        background-image: url('../img/newsletter/bg@2x.jpg');
    }

    @include tablet {
        background: #f2f4f6;
    }

    @include mobile {
        padding: 95px 0;
        height: auto;
    }

    &__content {
        margin: 0 auto;
        padding: 0 var(--container-padding);
        max-width: 552px;
        flex-grow: 1;
        text-align: center;
    }

    &__title {
        margin-bottom: 8px;
        font-size: 28px;
    }

    &__desc {
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 1.66667;
        color: #121212;

        @include mobile {
            font-size: 14px;
        }
    }
}