.tagline {
    position: relative;
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #141718;

    &__icon {}

    &__desc {
        font-family: var(--font-main);
        font-weight: 600;
        font-size: 14px;
        line-height: 1.57143;
        text-align: center;
        color: #fff;

        @include mobile {
            font-size: 12px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 4px;
        font-family: var(--font-main);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.57143;
        color: var(--tagline-link);
        border-bottom: 1px solid var(--tagline-link);

        @include mobile {
            display: none;
        }
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 16px;
        z-index: 2;
        width: 20px;
        height: 20px;
        border-radius: 50%;

        &:hover {

            svg {
                fill: #fff;
            }
        }

        svg {
            fill: #343839;
            transition: .2s;

            @include mobile {
                fill: #fff;
            }
        }
    }

    &__link-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}