.tagline {
    position: relative;
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #141718;

    &__icon {}

    &__desc {
        font-family: var(--font-main);
        font-weight: 600;
        font-size: 14px;
        line-height: 1.57143;
        text-align: center;
        color: #fff;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 4px;
        font-family: var(--font-main);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.57143;
        color: var(--tagline-link);
        border-bottom: 1px solid var(--tagline-link);
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 16px;
    }
}